In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/mini-project15/day15_real_dataset_large.csv

In [2]:
import pandas as pd

df_raw = pd.read_csv("/kaggle/input/mini-project15/day15_real_dataset_large.csv")

def clean_data_project(df_raw):
    df = df_raw.copy()

    df["age"] = pd.to_numeric(df["age"], errors="coerce")
    df["income"] = pd.to_numeric(df["income"], errors="coerce")
    df["signup_time"] = pd.to_datetime(df["signup_time"], errors="coerce")

    df["age_missing"] = df["age"].isna().astype(int)
    df["age"] = df["age"].fillna(df["age"].median())

    df["income_missing"] = df["income"].isna().astype(int)
    df["income"] = df["income"].fillna(df["income"].median())
    df["income"] = df["income"].clip(upper=df["income"].quantile(0.99))

    df["city"] = df["city"].astype(str).str.strip().str.lower()

    df["signup_time"] = df["signup_time"].dt.tz_localize("UTC")

    return df
df_clean = clean_data_project(df_raw)

print(df_clean.info())

print(df_clean[["age", "income"]].describe())

print(df_clean["city"].value_counts().head())

print(df_clean["signup_time"].dt.tz)

print(df_clean.isna().sum())
df_clean.to_csv("real_dataset_clean.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             97 non-null     float64
 1   income          97 non-null     float64
 2   city            97 non-null     object
 3   signup_time     42 non-null     datetime64[ns, UTC]
 4   age_missing     97 non-null     int64
 5   income_missing  97 non-null     int64
dtypes: datetime64[ns, UTC](1), float64(2), int64(2), object(1)
memory usage: 4.7+ KB
None
             age         income
count  97.000000      97.000000
mean   34.340206   76600.000000
std     9.945567   16608.456681
min   -10.000000   45000.000000
25%    32.000000   66000.000000
50%    35.000000   75000.000000
75%    39.000000   88000.000000
max    49.000000  115200.000000
city
ny         4
sf         4
la         3
austin     3
chicago    2
Name: count, dtype: int64
UTC
age                0
income             0
city               0
signup_time       55
age_missing        0
income_missing     0
dtype: int64